.containerCard{
    padding: 10px;  
    margin: auto;
}

.card{
    /* background: linear-gradient(100deg, rgba(240, 113, 81, 0.603) 0,2%, rgba(189, 130, 83, 0) 5%, rgb(255, 208, 0) 100%); */
    background: white;
    height: 280px;
    width: 220px;
    border: 1px solid rgb(255, 0, 0);
    padding: 1px;
    text-decoration: none;
    color: rgb(231, 201, 145);
    border-radius: 10px;
}

img{
    width: 180px;
    height: 150px;
    margin-top: 18px;
    border-radius: 10px;
}

a{
    text-decoration: none;
}

.info{
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    color: rgb(255, 153, 0);
}