.searchContainer{
    display: flex;
    height: 40px;
    width: 200px;
}

.searchContainer input{
    margin-top: 5px;
    margin-left: 5px;
    padding:4px 10px;
    border-radius: 5px;
} 

.searchContainer button{
    background-color: yellow;
    font-size: 15px;
    border-radius: 5px;
    padding: 4px;
    margin-left: 5px;
    margin-top: 5px;
    color: rgb(255, 0, 0);
    font-weight: 550;
}

